<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Calculate-and-store-salary-difference" data-toc-modified-id="Calculate-and-store-salary-difference-1">Calculate and store salary difference</a></span></li></ul></div>

In [34]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

#Linear Regression stuff
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [35]:
dem = pd.read_csv('Demographics.csv')

In [36]:
lab = pd.read_csv('Labour.csv')

In [37]:
dftemp = pd.concat([dem,lab],axis=1)

In [38]:
dftemp.head(11)

,age,gender,race,highest_grade,tertiary_edu,province_current,province_moved,province_before,province_during,labour_in_feb,...,work_hours_feb,take_home_pay_feb,labour_in_apr,work_days_apr,work_hours_apr,take_home_pay_apr,lost_labour,kept_labour,return_to_work,usual_work
0,39.0,Man,White,Grade 9,No,Gauteng,No,NaN,NaN,1,...,NaN,180.0,0,0.0,0.0,0.0,1,0,0,Unknown
1,72.0,Woman,Asian/Indian,Grade 0,NaN,KwaZulu-Natal,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
2,30.0,Woman,African/Black,Grade 10,Yes,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
3,48.0,Woman,African/Black,Grade 10,No,Gauteng,No,NaN,NaN,1,...,5.0,900.0,0,0.0,0.0,0.0,1,0,1,Elementary occupations
4,49.0,Woman,African/Black,Grade 9,No,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
5,34.0,Man,African/Black,Grade 9,No,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
6,63.0,Man,African/Black,Grade 11,No,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
7,50.0,Woman,African/Black,Grade 6,NaN,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
8,NaN,Woman,African/Black,Grade 0,NaN,Gauteng,No,NaN,NaN,0,...,0.0,0.0,0,0.0,0.0,0.0,0,0,0,Not Employed
9,31.0,Man,African/Black,Grade 10,No,Gauteng,No,NaN,NaN,1,...,10.0,8000.0,0,0.0,0.0,0.0,1,0,0,Unknown
10,48.0,Woman,African/Black,Grade 12,Yes,KwaZulu-Natal,No,NaN,NaN,1,...,8.0,4600.0,1,NaN,NaN,NaN,0,1,1,Self-Employed

In [39]:
df_main = dftemp[["age","gender","race","highest_grade","province_current", "tertiary_edu","take_home_pay_feb", "take_home_pay_apr","kept_labour","usual_work"]]

# Drop all nans

In [40]:
display(df_main)
df_main_dropped_nans = df_main.dropna()
display(df_main_dropped_nans)

,age,gender,race,highest_grade,province_current,tertiary_edu,take_home_pay_feb,take_home_pay_apr,kept_labour,usual_work
0,39.0,Man,White,Grade 9,Gauteng,No,180.0,0.0,0,Unknown
1,72.0,Woman,Asian/Indian,Grade 0,KwaZulu-Natal,NaN,0.0,0.0,0,Not Employed
2,30.0,Woman,African/Black,Grade 10,Gauteng,Yes,0.0,0.0,0,Not Employed
3,48.0,Woman,African/Black,Grade 10,Gauteng,No,900.0,0.0,0,Elementary occupations
4,49.0,Woman,African/Black,Grade 9,Gauteng,No,0.0,0.0,0,Not Employed
...,...,...,...,...,...,...,...,...,...,...
7068,22.0,Man,African/Black,Grade 11,Northern Cape,No,0.0,0.0,0,Not Employed
7069,24.0,Woman,Coloured,Grade 10,Western Cape,No,0.0,0.0,0,Not Employed
7070,36.0,Woman,African/Black,NTC 3,North West,No,0.0,0.0,0,Not Employed
7071,20.0,Man,African/Black,Grade 12,North West,No,0.0,0.0,0,Not Employed
7072,49.0,Man,Coloured,Grade 11,Western Cape,Yes,0.0,0.0,0,Not Employed

,age,gender,race,highest_grade,province_current,tertiary_edu,take_home_pay_feb,take_home_pay_apr,kept_labour,usual_work
0,39.0,Man,White,Grade 9,Gauteng,No,180.0,0.0,0,Unknown
2,30.0,Woman,African/Black,Grade 10,Gauteng,Yes,0.0,0.0,0,Not Employed
3,48.0,Woman,African/Black,Grade 10,Gauteng,No,900.0,0.0,0,Elementary occupations
4,49.0,Woman,African/Black,Grade 9,Gauteng,No,0.0,0.0,0,Not Employed
5,34.0,Man,African/Black,Grade 9,Gauteng,No,0.0,0.0,0,Not Employed
...,...,...,...,...,...,...,...,...,...,...
7068,22.0,Man,African/Black,Grade 11,Northern Cape,No,0.0,0.0,0,Not Employed
7069,24.0,Woman,Coloured,Grade 10,Western Cape,No,0.0,0.0,0,Not Employed
7070,36.0,Woman,African/Black,NTC 3,North West,No,0.0,0.0,0,Not Employed
7071,20.0,Man,African/Black,Grade 12,North West,No,0.0,0.0,0,Not Employed
7072,49.0,Man,Coloured,Grade 11,Western Cape,Yes,0.0,0.0,0,Not Employed

# Check salaries and difference

### Calculate and store salary difference

In [41]:

diff = df_main_dropped_nans['take_home_pay_apr'] - df_main_dropped_nans['take_home_pay_feb']

display(diff)

perc = (diff/df_main_dropped_nans['take_home_pay_feb'])* 100

perc = np.nan_to_num(perc)
display(perc)

df_main_diff = df_main_dropped_nans.copy()

df_main_diff['take_home_pay_difference'] = perc

0      -180.0
2         0.0
3      -900.0
4         0.0
5         0.0
        ...
7068      0.0
7069      0.0
7070      0.0
7071      0.0
7072      0.0
Length: 4284, dtype: float64

array([-100.,    0., -100., ...,    0.,    0.,    0.])

In [42]:
df_main_diff

,age,gender,race,highest_grade,province_current,tertiary_edu,take_home_pay_feb,take_home_pay_apr,kept_labour,usual_work,take_home_pay_difference
0,39.0,Man,White,Grade 9,Gauteng,No,180.0,0.0,0,Unknown,-100.0
2,30.0,Woman,African/Black,Grade 10,Gauteng,Yes,0.0,0.0,0,Not Employed,0.0
3,48.0,Woman,African/Black,Grade 10,Gauteng,No,900.0,0.0,0,Elementary occupations,-100.0
4,49.0,Woman,African/Black,Grade 9,Gauteng,No,0.0,0.0,0,Not Employed,0.0
5,34.0,Man,African/Black,Grade 9,Gauteng,No,0.0,0.0,0,Not Employed,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7068,22.0,Man,African/Black,Grade 11,Northern Cape,No,0.0,0.0,0,Not Employed,0.0
7069,24.0,Woman,Coloured,Grade 10,Western Cape,No,0.0,0.0,0,Not Employed,0.0
7070,36.0,Woman,African/Black,NTC 3,North West,No,0.0,0.0,0,Not Employed,0.0
7071,20.0,Man,African/Black,Grade 12,North West,No,0.0,0.0,0,Not Employed,0.0
7072,49.0,Man,Coloured,Grade 11,Western Cape,Yes,0.0,0.0,0,Not Employed,0.0

In [43]:
display(df_main_diff.loc[df_main_diff['kept_labour']==1,['take_home_pay_feb', 'take_home_pay_apr', 'take_home_pay_difference']])

      take_home_pay_feb  take_home_pay_apr  take_home_pay_difference
15              25000.0            25000.0                  0.000000
20               3500.0             3500.0                  0.000000
41               4600.0             4600.0                  0.000000
44               4000.0             4200.0                  5.000000
45               3500.0             7200.0                105.714286
...                 ...                ...                       ...
7001             3200.0             3200.0                  0.000000
7016             4400.0             4500.0                  2.272727
7018            24000.0            12000.0                -50.000000
7021             1500.0             2800.0                 86.666667
7038             5430.0             5430.0                  0.000000

[705 rows x 3 columns]

In [44]:
df_main_kept_labour = df_main_diff[df_main_diff['kept_labour']==1]
df_main_kept_labour

,age,gender,race,highest_grade,province_current,tertiary_edu,take_home_pay_feb,take_home_pay_apr,kept_labour,usual_work,take_home_pay_difference
15,52.0,Woman,Coloured,Grade 12,Gauteng,No,25000.0,25000.0,1,Technicians and associate professionals,0.000000
20,40.0,Woman,African/Black,Grade 11,Gauteng,No,3500.0,3500.0,1,Technicians and associate professionals,0.000000
41,37.0,Woman,African/Black,Grade 12,Gauteng,Yes,4600.0,4600.0,1,Professionals,0.000000
44,45.0,Woman,African/Black,Grade 12,Gauteng,Yes,4000.0,4200.0,1,Service and sales workers,5.000000
45,39.0,Woman,African/Black,Grade 11,Gauteng,Yes,3500.0,7200.0,1,Professionals,105.714286
...,...,...,...,...,...,...,...,...,...,...,...
7001,43.0,Woman,African/Black,Grade 9,Eastern Cape,No,3200.0,3200.0,1,Elementary occupations,0.000000
7016,29.0,Man,African/Black,Grade 10,North West,No,4400.0,4500.0,1,Service and sales workers,2.272727
7018,30.0,Woman,African/Black,Grade 12,Free State,Yes,24000.0,12000.0,1,Professionals,-50.000000
7021,27.0,Woman,African/Black,Grade 9,Limpopo,No,1500.0,2800.0,1,Unknown,86.666667
7038,25.0,Woman,African/Black,Grade 12,Gauteng,Yes,5430.0,5430.0,1,Clerical support workers,0.000000

In [45]:
# display(df_main_kept_labour[df_main_kept_labour['take_home_pay_difference']==0])

In [46]:
print(max(df_main_kept_labour['take_home_pay_difference']))


print(df_main_kept_labour['take_home_pay_difference'].argmax())


df_main_removedinf = df_main_kept_labour.drop(df_main_kept_labour.index[df_main_kept_labour['take_home_pay_difference'].argmax()])
df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])
# df_main_removedinf = df_main_removedinf.drop(df_main_removedinf.index[df_main_removedinf['take_home_pay_difference'].argmax()])

print(max(df_main_removedinf['take_home_pay_difference']))
print(min(df_main_removedinf['take_home_pay_difference']))

1.7976931348623157e+308
103
1780.0
-100.0

# Encode some vriables and get dummies

In [47]:
df_main_removedinf['gender'] = df_main_removedinf['gender'].map({'Man':1, 'Woman':0})
df_main_removedinf['gender'] = df_main_removedinf['gender'].astype(int)

In [48]:
df_main_removedinf['tertiary_edu'] = df_main_removedinf['tertiary_edu'].map({'Yes':1, 'No':0})
df_main_removedinf['tertiary_edu'] = df_main_removedinf['tertiary_edu'].astype(int)

In [49]:
# test1[test1['kept_labour']==1]

In [55]:
df_dummies = pd.get_dummies(df_main_removedinf, columns=["gender","race","highest_grade","province_current", "usual_work"], drop_first=True)

In [56]:
display(df_dummies)
df_dummies.columns

,age,tertiary_edu,take_home_pay_feb,take_home_pay_apr,kept_labour,take_home_pay_difference,gender_1,race_Asian/Indian,race_Coloured,race_White,...,usual_work_Managers,usual_work_Not Employed,usual_work_Not applicable,"usual_work_Plant and machine operators, and assemblers",usual_work_Professionals,usual_work_Self-Employed,usual_work_Service and sales workers,"usual_work_Skilled agricultural, forestry and fishery workers",usual_work_Technicians and associate professionals,usual_work_Unknown
15,52.0,0,25000.0,25000.0,1,0.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
20,40.0,0,3500.0,3500.0,1,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41,37.0,1,4600.0,4600.0,1,0.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
44,45.0,1,4000.0,4200.0,1,5.000000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45,39.0,1,3500.0,7200.0,1,105.714286,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7001,43.0,0,3200.0,3200.0,1,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7016,29.0,0,4400.0,4500.0,1,2.272727,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7018,30.0,1,24000.0,12000.0,1,-50.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7021,27.0,0,1500.0,2800.0,1,86.666667,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7038,25.0,1,5430.0,5430.0,1,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Index(['age', 'tertiary_edu', 'take_home_pay_feb', 'take_home_pay_apr',
       'kept_labour', 'take_home_pay_difference', 'gender_1',
       'race_Asian/Indian', 'race_Coloured', 'race_White',
       'highest_grade_Grade 11', 'highest_grade_Grade 12',
       'highest_grade_Grade 9', 'highest_grade_NCV 2', 'highest_grade_NCV 4',
       'highest_grade_NTC 1', 'highest_grade_NTC 3',
       'province_current_Free State', 'province_current_Gauteng',
       'province_current_KwaZulu-Natal', 'province_current_Limpopo',
       'province_current_Mpumalanga', 'province_current_North West',
       'province_current_Northern Cape', 'province_current_Western Cape',
       'usual_work_Clerical support workers',
       'usual_work_Craft and related trades workers',
       'usual_work_Elementary occupations', 'usual_work_Managers',
       'usual_work_Not Employed', 'usual_work_Not applicable',
       'usual_work_Plant and machine operators, and assemblers',
       'usual_work_Professionals', 'usual_work_Self-Employed',
       'usual_work_Service and sales workers',
       'usual_work_Skilled agricultural, forestry and fishery workers',
       'usual_work_Technicians and associate professionals',
       'usual_work_Unknown'],
      dtype='object')

In [57]:
df_final = df_dummies.copy()

# Linear regression
Trying to predict change in salary

In [58]:
y = df_final['take_home_pay_difference']

X = df_final.drop('take_home_pay_difference',axis=1)

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)


model = LinearRegression()
model.fit(X_train,y_train)

predicted = model.predict(X_test)


model.score(X_test.values, y_test.values)

-0.005627938101454788